{% extends 'base.html'%}
{% block container %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/src/index.css">
     <title>Proxximo</title>
</head>

<body>
    <header>
    </header>
    <main>
        <aside>
            <div id="title2">
                <h2>
                 Agendamento para clínicas e consultórios
                </h2>
                 <br><br>
            <div class="wrap">
                 <button class="btn-coren" onclick="window.location.href = 'http://www.coren-pe.gov.br/novo/'">SITE OFICIAL COREN-PE </button>
            </div>
            <br>
            </div>

            <div id="lista-all">
             <ul>
                    <li class="lista">Cuide melhor dos seus pacientes, ame o proxximo. </li>
             </ul>
            </div>
        </aside>

         <article>
            <img class="dra" src="/static/assets/Imagens/dra.png " alt="dra">
         </article>

        </main>
</body>
</html>

{% endblock %}
