{% extends 'base.html'%}
{% block container %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/src/index.css">
     <title>Proxximo</title>
</head>

<body>
    <main>
    <div>
        <div id="title2">
                    <h2>
                     Agendamentos para clínicas e consultórios
                     </h2>
                    <br><br>
            <div>
                 <button class="btn-home" onclick="window.location.href = 'http://www.coren-pe.gov.br/novo/'">SITE OFICIAL COREN PE</button>
            </div>
<br><br>
            <div>
                    <h3>cuide dos seus pacientes, ame o proxximo.</h3>
           </div>
        </div>
    </div>
         <div>
            <img class="nurse" src="/static/assets/Imagens/nurse.png " alt="enfermeira">
         </div>
        </main>
</body>
<footer>
    <h2 class="sub-sub-titulo">Mais agendamentos, melhor atendimendo.</h2>
    <div>
        <h4 class="sub-sub-frase">
            Agendamento por telefone já não satisfaz os requisitos de seus clientes.
            Obtenha agendamento poderoso com simplicidade.
        </h4>

    </div>
</footer>
</html>

{% endblock %}
